{% load static %}
<link rel='stylesheet' href="{% static 'not_found.css' %}">

<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />

<body>
 <div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x1_5"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div class='c'>
            <div class='_404'>&#9785;</div>
            <hr>
            <div class='_1'>CORDENATES</div>
            <div class='_2'>WAS NOT FOUND</div>
            <a class='btn' href='http://localhost:8000/geo_location/'>BACK TO GEO</a>
        </div>
</body>