{% load static %}
<link rel='stylesheet' href="{% static 'style.css' %}">
<div class="waveWrapper waveAnimation">
    <body>
        <form method="post" enctype="multipart/form-data" class="file" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send message" />
        </form>
    </body>
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"> </div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
</div>
  